@import '../../styles/variaveis';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.rodape {
    background-color: $azul-rodape;
    display: flex;
    padding: 1rem 4rem;
    justify-content: space-between;
    box-shadow: 0px -2px 30px rgba($color: #000000, $alpha: 0.5);
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;


    &__icones {
        display:flex;
        align-items: center;
        gap: 2.5rem;
    }

    &__texto {
        font-size: 1rem;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }
}





